/*
 * Customization Variables
 */

$accent: #ef3e6a;
$image-size: 180px;
$bg: #F8F5EC;
$text: #2b2926;

/*
 * Build Variables, don't touch
 */

$max-width: 715px;
$med-width: 600px;
$small-width: 480px;
